// Side Menu
aside.col-md-2.d-md-block.bg-light.sidebar.sidebar-hide
  div.sidebar-sticky
    ul.nav.flex-column
      li.nav-item.active
        a.nav-link(href="/dashboard")
          i.fa.fa-tachometer-alt
          | &nbsp; Dashboard
          span.sr-only (current)
      li.nav-item#menu-city
        a.nav-link(href="/city")
          i.fa.fa-city
          | &nbsp; City
      li.nav-item#menu-township
        a.nav-link(href="/township")
          i.fa.fa-home
          | &nbsp; Township
      li.nav-item#menu-customer
        a.nav-link(href="/customer")
          i.fa.fa-users
          | &nbsp; Customers
      li.nav-item
        a.nav-link(href="#")
          i.fa.fa-file
          | &nbsp; Reports
      li.nav-item
        a.nav-link(href="#")
          i.fa.fa-layer-group
          | &nbsp; Integrations
      // Sub menu
      li.nav-group-item
        a.sidebar-heading.d-flex.justify-content-between.align-items-center.text-muted(href="#", data-toggle="collapse", data-target="#subitems", aria-controls="navbarSupportedContent", aria-expanded="false")
          h6.d-flex.justify-content-between.align-items-center.text-muted
            span Saved reports
          i.fa.fa-angle-down
        div#subitems.sidebar-group.collapse.show
          ul.nav.flex-column.mb-2
            li.nav-item
              a.nav-link(href="#")
                i.fa.fa-file-invoice
                | &nbsp; Current month
            li.nav-item
              a.nav-link(href="#")
                i.fa.fa-file-contract
                | &nbsp; Last quarter
            li.nav-item
              a.nav-link(href="#")
                i.fa.fa-file-archive
                | &nbsp; Social engagement
            li.nav-item
              a.nav-link(href="#")
                i.fa.fa-file-excel
                | &nbsp; Year-end sale

script.
  $(document).ready(function(){
    $("#nav-button").on("click",function(){
      $(".sidebar").toggleClass('sidebar-show').toggleClass('sidebar-hide');
    });
  });
