extends ../../includes/layout-dashboard

block content
  h1.page-header Dashboard
  div.row.placeholders
    div.col-xs-6.col-sm-3.placeholder
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail")
      h4 Label
      span.text-muted Something else
    div.col-xs-6.col-sm-3.placeholder
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail")
      h4 Label
      span.text-muted Something else
    div.col-xs-6.col-sm-3.placeholder
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail")
      h4 Label
      span.text-muted Something else
    div.col-xs-6.col-sm-3.placeholder
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail")
      h4 Label
      span.text-muted Something else
      
  h2.sub-header Section title
  div.table-responsive
    table#list-dashboard.table.table-striped
      thead
        tr
          th #
          th Header
          th Header
          th Header
          th Header
      tbody
